:root{
    --primary-color: #1966d2;
    --secondary-color: #f0f4fd;
    --dark-blue: #00004a;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #4c5563;
    --light-blue-color: #2e8dfb;
    --transition: all 300ms ease-in-out;
}

body{
    font-family: "Inter", sans-serif!important;
    
    
}

/* text */
.text-primary{color: var(--primary-color)!important;}
.text-secondary{color: var(--secondary-color)!important;}
.text-blue{color: var(--dark-blue)!important;}
.text-grey{color: var(--grey-color);}

/* backgrounds */
.bg-primary{background-color: var(--primary-color)!important;}
.bg-secondary{background-color: var(--secondary-color)!important;}
.bg-light-blue{background-color: var(--light-blue-color);}

/* buttons */
.btn-primary{background-color: var(--primary-color)!important;}
.btn-secondary{background-color: var(--secondary-color)!important;}

/* font weights */
.fw-1{font-weight: 100;}
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

/* font size */
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}

/* line height */
.lh-16{line-height: 1.6;}
.lh-17{line-height: 1.7;}

/* padding and margin */
.py-8{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* section title */
.section-title p{
    max-width: 600px;
}

/* navbar */
.navbar{
    height: 90px;
    border-bottom: 2px solid #e7eefa;
}
.navbar-brand, .site-logo{
    color: var(--primary-color)!important;
}
.navbar-brand .navbar-brand-text, .site-logo-text{
    color: var(--dark-blue);
}
.navbar-toggler{
    border: none;
}
.btn-login{
    padding-top: 14px;
    padding-bottom: 14px;
    transition: var(--transition);
}
.btn-login:hover{
    background-color: #e7eefa!important;
    border-color: #e7eefa!important;
    color: var(--primary-color)!important;
}
.navbar-nav .dropdown-menu{
    border: none;
}
.navbar-nav .dropdown-item{
    margin: 8px 0;
    transition: var(--transition);
}
.navbar-nav .dropdown-menu .dropdown-item:hover{
    background-color: #fff;
    color: var(--primary-color);
}
.navbar-nav .nav-item .nav-link.dropdown-toggle:hover{
    color: var(--primary-color)!important;
}

/* header */
.header{
    min-height: 100vh;
    background-color: var(--secondary-color);
}
.header-banner{
    height: calc(100vh - 90px);
}
.header-banner h1{
    max-width: 900px;
}
.header-banner .btn-banner{
    max-width: 280px;
}



.container{
    max-width: 1500px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    /* overflow: hidden; */
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    margin: 6px 0;
    color: #333;
    text-align: center;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select, textarea{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height:45px;
    margin: 8px 0;
}

.input-field input[type="message"]
{
   
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 7px;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
    height: 300px;
    width: calc(100% -0px);
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

/* .input-field input[type="message"]
{
    size: 500px;
    height: 30px;
}
 */



.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}


form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button {
    margin-right: 14px;
}




#image {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
#image .img-div {
    height: 20vh;
    width: 20vh;
  }
  
#image .img-div img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  
label[name="img-field"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  
label[name="img-field"]:hover {
    background-color: #265df2;
  }
  
input[type="file"] {
    display: none;
  }
@media screen and (min-width: 992px){
    .section-title .display-6{
        font-size: 45px;
    }
}

@media screen and (max-width: 992px){
    .navbar{
        position: relative;
    }
    .navbar-collapse{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        padding: 25px;
        margin-top: 2px;
    }

    .navbar-nav .dropdown-menu{
        border-radius: 0!important;
    }
}




#cv-form {
    /* display: none; */
    /* margin-top: 10px; */
  }
#cv-template {
    display: none;
  }

.myimg {
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
  }
  
  .background {
    background-color: #f4dcbb;
  }
  

  .container-t  .title{
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
    margin: 6px 0;
    color: #333;
    text-align: center;
}

.container-t p{
    font-family: "Inter", sans-serif;
    font-style: strong;
    font-weight: 400;
}